.vscode/
node_modules/
dist/
temp.*
client-old/

# client / Expo
.expo/
dist/
web-build/

# client / Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# client / Metro
.metro-health-check*

# client / debug
npm-debug.*
yarn-debug.*
yarn-error.*

# client / macOS
.DS_Store
*.pem

# client / local env files
.env*.local

# client / typescript
*.tsbuildinfo

# server
.env
*/prisma/*.db
*/prisma/*.db-journal

# server / Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# server / OS
.DS_Store

# server / Tests
/coverage
/.nyc_output

# server / IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# python
venv/
__pycache__/
